html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
  max-width: 100%;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

header {
  width: 75%;
  height: 120px;
  margin: 0 auto;
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
}

.header-logo {
   height: 80px;
   width: 80px;
 }

 .header-title {
   float: right;
   font-weight: 100;
   font-size: 40px;
 }

 .header-career {
   float: right;
   font-weight: 100;
   font-size: 30px;
   padding-top: 10px;
 }

 .header-divider {
   width: 75%;
   margin: 0 auto;
   border: none;
   height: 4px;
   color: #7d97ad; /* old IE */
   background-color: #7d97ad; /* new IE */
 }

 .hero {
   display: flex;
   justify-content: center;
   width: 75%;
   margin: 0 auto;
 }

 .profile-photo {
   height: 100%;
   width: 100%;
   margin: 0 auto;
   padding: 20px 0 20px 0;
   margin-bottom: 20px;
 }

.featured-work {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.feature-header {
  margin-left: 0;
  height: auto;
}

 .featured-title {
   text-align: left;
   font-size: 30px;
   font-weight: 300;
   padding: 20px 0 20px 0;
   color: #2d3c49;
 }

 .project-title {
  text-align: center;
  padding-bottom: 10px;
}

.project-photo {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.project-link {
  text-align: center;
  text-decoration: underline;
  color: #2d3c49;
}

.flex-grid {
 display: flex;
 flex-wrap: wrap;
 flex-direction: row;
}

.col {
 flex: 1;
 padding: 5px;
 margin: auto;
}

.footer {
 display: flex;
 justify-content: center;
 margin: 30px;
}

.fa {
  padding: 20px;
}

.footer-link {
  text-decoration: none;
  color: #000;
}

@media screen and (max-width: 700px) {


   .header {
     width: 75%;
     padding-top: 30px;
     height: 80px;
     display: flex;
     justify-content: space-between;
   }

  .header-logo {
     height: 50px;
     width: 50px;
   }

   .header-title {
     font-size: 20px;
   }

   .header-career {
     font-size: 15px;
   }

   .hero {
     display: flex;
     justify-content: center;
   }

   .profile-photo {
     padding-top: 20px;
   }

   .featured-work {
     text-align: center;
     width: 85%;
     padding: 0 20px 0 20px;
   }

   .feature-header {
     margin-left: 0;
     height: auto;
   }

   .featured-title {
     text-align: left;
     font-size: 17px;
     font-weight: 300;
     padding: 5px 0 5px 0;
     color: #2d3c49;
   }

   .project-photo {
     margin-top: 20px;
   }

   .project-link {
     text-align: center;
     text-decoration: underline;
     color: #2d3c49;
   }
}

@media screen and (max-width: 1027px) {
  .flex-grid {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
  }

}
